//
//  Debug.xcconfig
//  MyApp
//
//  Created by Chinh Pham N. on 7/8/19.
//  Copyright © 2019 Chinh Pham N. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OTHER_SWIFT_FLAGS = $(inherited) "-D" "DEBUG"
SWIFT_VERSION = 5.0
IS_APP_NAME = [DEV]-MyApp
IS_APP_BUNDLE_ID = net.chinhpham.MyAppDebug
